@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    flex-direction: column;
    position: relative;
    
}

#theme-toggle {
    cursor: pointer;
    
}

.tag-span {
    display: none;
    height: auto; /* Ajuste a altura conforme necessário */
    transition: opacity 0.5s;
}

.tag-span.show {
    display: inline-block;
}
section{
    position: absolute;
    top: 0;
    height: 100px;
}
